.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}
.slick-prev:before,
.slick-next:before {
  color: black;
}
.main-container {
  height: 100vh;
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-container {
  width: 25rem;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background-color: #fff;
  border: 1px solid gray;
}

.image-container {
  height: 20vh;
  object-fit: cover;
}
.image-container img {
  width: 400px;
  height: 100%;
}
